
.BookList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1.5em;
}

.BookCard {
    /*border: 1px solid #2C3359;
    border-radius: 2px;*/
    padding: 1em;
    margin: 0.5em;
    background-color: #fff;
}

.BookCard a{
    color: #2C3359;
    text-decoration: none;
}

.bookDetails{
    padding: 1em 2em;
    margin: 1.5em 2em;
    background-color: #fff;
}
.backHomeBTN{
    margin-left: 2em;
}

.star{
    cursor: pointer;
    display: block;
    transition: all .2s ease-in;
    color: #000;
}
.searchButton{
    padding: 0.6em 0.10em;
    margin: 0.5em;
    background-color: #fff;
    font-size: 8px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}
